<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="User" type="com.jeff.fjb.dal.entity.UserEntity" />
		<typeAlias alias="Practice" type="com.jeff.fjb.dal.entity.PracticeEntity" />
		<typeAlias alias="Bank" type="com.jeff.fjb.dal.entity.BankEntity" />
		<typeAlias alias="ExamineDistinct" type="com.jeff.fjb.dal.entity.ExamineDistinctEntity" />
		<typeAlias alias="ExamineRoom" type="com.jeff.fjb.dal.entity.ExamineRoomEntity" />		
	</typeAliases>
	<environments default="prod">
		<environment id="prod">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://127.0.0.1:3306/fjb?useUnicode=true&amp;characterEncoding=utf8" />
				<property name="username" value="root" />
				<property name="password" value="fjb1314!" />
				<property name="poolPingQuery" value="SELECT NOW()" />
				<property name="poolPingEnabled" value="true" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<package name="com.jeff.fjb.dal.mappers" />
	</mappers>
</configuration>
