<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jeff.fjb.dal.mappers.ExamineRoomMapper">
	<insert id="insertExamineDistinct" parameterType="ExamineDistinct">
		INSERT INTO examine_distinct
		(name, address)
		values (#{name}, #{address});
	</insert>
	<insert id="insertExamineRoom" useGeneratedKeys="true" keyProperty="room_id" parameterType="ExamineRoom">
		INSERT INTO examine_room
		(examineDistinct, name, num)
		values (#{examineDistinct}, #{name}, #{num});
	</insert>
	<select id="getAllExamineDistinct" resultType="ExamineDistinct">
		SELECT * FROM examine_distinct;
	</select>
	
	<select id="getExamineDistinct" parameterType="String" resultType="ExamineDistinct">
		SELECT * FROM examine_distinct WHERE name=#{distinct};
	</select>
	<select id="getExamineRoom" parameterType="String" resultType="ExamineRoom">
		SELECT * FROM examine_room WHERE examineDistinct=#{distinct} AND name=#{room};
	</select>
	<select id="getExamineRoomByDistinct" parameterType="String" resultType="ExamineRoom">
		SELECT * FROM examine_room WHERE examineDistinct=#{distinct};
	</select>
	<select id="getExamineRoomById" parameterType="Long" resultType="ExamineRoom">
		SELECT * FROM examine_room WHERE room_id=#{id};
	</select>
</mapper>