<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jeff.fjb.dal.mappers.ExamineMapper">
	<resultMap id="ExamineResult" type="Examine">     
    	<result property="subject" column="subject"/>     
    	<result property="examineDistinct" column="examineDistinct"/>  
    	<result property="room" column="room" /> 
    	<result property="startTime" column="start_time" />
    	<result property="endTime" column="end_time" />
    	<result property="signUp" column="sign_up" /> 
    	<result property="maxNum" column="max_num" /> 
	</resultMap>

	<select id="getAllExamine" resultMap="ExamineResult">
		SELECT * FROM examine 
	</select>
	
	<select id="getExamine" parameterType="Examine" resultMap="ExamineResult">
		SELECT * FROM examine 
		WHERE examineDistinct=#{examineDistinct} AND subject=#{subject} AND room=#{room}
		AND #{startTime}>=start_time
		AND end_time>=#{endTime} 
	</select>	
	
	<insert id="addExamine" parameterType="Examine">
		INSERT INTO examine (subject, examineDistinct, room, start_time, end_time, sign_up, max_num)
		VALUES (#{subject}, #{examineDistinct}, #{room}, #{startTime}, #{endTime}, #{signUp}, #{maxNum})
	</insert>
	
	<insert id="addExamines">
		INSERT INTO examine (subject, examineDistinct, room, start_time, end_time, sign_up, max_num)
        VALUES
        <foreach collection="entities" index="index" item="entity" separator=",">
            (#{entity.subject},#{entity.examineDistinct},#{entity.room},#{entity.startTime},#{entity.endTime},#{entity.signUp},#{entity.maxNum})
        </foreach>
	</insert>
</mapper>