<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jeff.fjb.dal.mappers.PracticeMapper">
		<resultMap id="PracticeResult" type="Practice">     
    	<result property="id" column="id"/>     
    	<result property="question" column="question"/>  
    	<result property="answer" column="answer" />  
    	<result property="type" column="type" />  
    	<result property="A" column="A" />  
    	<result property="B" column="B" />  
    	<result property="C" column="C"/>
    	<result property="D" column="D"/>
    	<result property="photo" column="photo"/>
	</resultMap> 
	<select id="getPracticeEntity" resultMap="PracticeResult">
		SELECT id, question, answer, type, A, B, C, D FROM practice WHERE id=#{id} AND type=#{type}
	</select>
	<select id="getIDByType">
		SELECT id FROM practice WHERE type=#{type}
	</select>
	<select id="getPhoto" resultMap="PracticeResult">
		SELECT photo FROM practice WHERE id=#{id} AND type=#{type}
	</select>
	<insert id="insertPracticeEntity">
		INSERT INTO practice 
		(id, question, answer, type, A, B, C, D, E)
		values (#{id}, #{question}, #{answer}, #{type}, #{A}, #{B}, #{C}, #{D}, #{E});
	</insert>
</mapper>